# Battling addiction to lotteries
Every year people's lives get derailed by the thought of winning the lottery, slowly they start to put more money into lottery tickets. In the end people even resort to stealing and other crime in order to get the money they need to buy their desired tickets. 

Our goal here is to build a simple app for a medical institute. We will hope that lottery addicted people will see their actual chances in a lottery. All this is done hoping that they will realize their terrible odds and give up their dangerous habits.

In [1]:
#We will firstly define two probability functions we will use a lot.
def factorial(n):
    final_product = 1
    for i in range(n, 0, -1):
        final_product *= i
    return final_product
    
#The first is for factorials this is 5!
print(factorial(5))

120

In [2]:
#The second is for combinations
def combination(n,k):
    return factorial(n)/(factorial(k)*factorial(n-k))

#This should be C
print(combination(5,3))

10.0

In [3]:
#Let's create a function now to see what the chances are for a specific lottery ticket.
#The lottery ticket has six numbers and there are 49 numbers in the game. 
def one_ticket_probability(a,b,c,d,e,f):
    ticket = [a,b,c,d,e,f]
    if (max(ticket) > 49):
        return print("That is not a valid lottery ticket.")
    else:
        p = int(combination(49,6))
        return print("The chances for your ticket winning the big prize are 1 in {:,}.".format(p))

one_ticket_probability(34,49,5,3,2,1)

The chances for your ticket winning the big prize are 1 in 13,983,816.

In [4]:
#let's make a false ticket
one_ticket_probability(10,20,30,40,50,49)

That is not a valid lottery ticket.

In [5]:
#Now we will compare this data with the historical data of all the lotteries from 1982-2018
#First read in the data using pandas
import pandas as pd
drawings = pd.read_csv('649.csv')
drawings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3665 entries, 0 to 3664
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   PRODUCT          3665 non-null   int64
 1   DRAW NUMBER      3665 non-null   int64
 2   SEQUENCE NUMBER  3665 non-null   int64
 3   DRAW DATE        3665 non-null   object
 4   NUMBER DRAWN 1   3665 non-null   int64
 5   NUMBER DRAWN 2   3665 non-null   int64
 6   NUMBER DRAWN 3   3665 non-null   int64
 7   NUMBER DRAWN 4   3665 non-null   int64
 8   NUMBER DRAWN 5   3665 non-null   int64
 9   NUMBER DRAWN 6   3665 non-null   int64
 10  BONUS NUMBER     3665 non-null   int64
dtypes: int64(10), object(1)
memory usage: 315.1+ KB

In [6]:
drawings.head(3)

,PRODUCT,DRAW NUMBER,SEQUENCE NUMBER,DRAW DATE,NUMBER DRAWN 1,NUMBER DRAWN 2,NUMBER DRAWN 3,NUMBER DRAWN 4,NUMBER DRAWN 5,NUMBER DRAWN 6,BONUS NUMBER
0,649,1,0,6/12/1982,3,11,12,14,41,43,13
1,649,2,0,6/19/1982,8,33,36,37,39,41,9
2,649,3,0,6/26/1982,1,6,23,24,27,39,34

In [7]:
drawings.tail(3)

,PRODUCT,DRAW NUMBER,SEQUENCE NUMBER,DRAW DATE,NUMBER DRAWN 1,NUMBER DRAWN 2,NUMBER DRAWN 3,NUMBER DRAWN 4,NUMBER DRAWN 5,NUMBER DRAWN 6,BONUS NUMBER
3662,649,3589,0,6/13/2018,6,22,24,31,32,34,16
3663,649,3590,0,6/16/2018,2,15,21,31,38,49,8
3664,649,3591,0,6/20/2018,14,24,31,35,37,48,17

In [8]:
#Right now I will write a function to check if a ticket would have won in history.
def extract_numbers(row):
    row = row[4:10]
    row = set(list(row))
    return row

extract_numbers(drawings.iloc[1])

{8, 33, 36, 37, 39, 41}

In [9]:
extract_numbers(drawings.iloc[120])

{21, 22, 29, 36, 38, 41}

In [10]:
#Now we can create an extra column with all the winsets
winning_numbers = drawings.apply(extract_numbers, axis=1)
    
winning_numbers.head()

0    {3, 41, 11, 12, 43, 14}
1    {33, 36, 37, 39, 8, 41}
2     {1, 6, 39, 23, 24, 27}
3     {3, 9, 10, 43, 13, 20}
4    {34, 5, 14, 47, 21, 31}
dtype: object

Now we have a bite sized variable which stores all the winners in history!

In [11]:
#Now in another function we can define the historical occurence of the winsets
def check_historical_occurence(ticket,historical_numbers):
    '''
    The ticket input should be a list of numbers.
    The historical_numbers are the winsets from the past. 
    '''
    ticket = set(ticket)
    occ = historical_numbers == ticket
    counter = occ.sum()
    if counter == 0:
        print('''The combination has never occurred before.
However this does not result in any bigger chance. Your chance to win the big prize is still 1 in 13,983,816''')
    else:
        print('''The combination has occurred {} times before. Fortunately this does not mean that your chances have diminished.
Your chance to win the big prize is still 1 in 13,983,816'''.format(counter))
        
check_historical_occurence([1,2,3,4,5,6],winning_numbers)

The combination has never occurred before.
However this does not result in any bigger chance. Your chance to win the big prize is still 1 in 13,983,816

In [12]:
check_historical_occurence([1,6,39,23,24,27],winning_numbers)

The combination has occurred 1 times before. Fortunately this does not mean that your chances have diminished.
Your chance to win the big prize is still 1 in 13,983,816

What a shocker! 1,2,3,4,5,6 has never occurred before. What we have been doing up to now is creating functionalities for the app. The text points to the direction that the chances are still extremely slim. But on the other hand the user gets some neat information about the past.

Next, we will write a function for our app to check the chances for more tickets.

In [13]:
def multi_ticket_probability(t):
    if t > combination(49,6):
        print('The amount is too high.')
    else:
        c = t/combination(49,6)
        p = c*100
        n = float(combination(49,6)/t)
        n = round(n)
        pr = t*3 #in order to show the ticket price which is $3 per ticket.
        print('''You have spent ${} on tickets now. \nThe chance for winning the big prize with {} tickets is: {:f}%.
Or in other words: 1 in {:}'''.format(pr,t,p,n))
    
multi_ticket_probability(6000000000000000000000)

The amount is too high.

In [14]:
multi_ticket_probability(50)

You have spent $150 on tickets now.
The chance for winning the big prize with 50 tickets is: 0.000358%.
Or in other words: 1 in 279676

In [15]:
multi_ticket_probability(7000000)

You have spent $21000000 on tickets now.
The chance for winning the big prize with 7000000 tickets is: 50.057867%.
Or in other words: 1 in 2

We have made a calculator for the tickets, the money spent and the chances they have to win the big prize. The calculator immediately shows that for high amounts it is really now worth it. 

e.g. a millionaire buys \\$21M worth of tickets, then his chances are still only 50\%. Considering that the big prize is often around the \\$14M. We can easily see it's not worth it.

The last function we will define for the app is going to calculate the chances for having minor prizes, e.g. when you have exactly two numbers matching.

In [16]:
def less_than_6(i):
    if not 1 < i <= 5:
        print('''Please use a number between 2 and 5''')
    else:
        c_ticket = combination(6,i)
        c_over = combination(43,(6-i)) - 1
        p = (c_ticket*c_over)/combination(49,6)
        pc = p*100
        t = round(combination(49,6)/(c_ticket*c_over))
        print('''Your chance to win a prize with {} right numbers are: {:.6f}%
Or in other words 1 in {:,}'''.format(i,pc,int(t)))
    
less_than_6(1)

Please use a number between 2 and 5

In [17]:
less_than_6(5)

Your chance to win a prize with 5 right numbers are: 0.001802%
Or in other words 1 in 55,491

In [18]:
less_than_6(2)

Your chance to win a prize with 2 right numbers are: 13.237696%
Or in other words 1 in 8

That's it, here we have the functionalities for an app to beat lottery addiction.